<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FTTApp"
        tools:targetApi="31">
        <activity android:name=".AssetScreen"></activity>
        <activity android:name=".AssetsScreen"></activity>
        <activity android:name=".BrokerPersonalScreen"></activity>
        <activity android:name=".BrokerScreen"></activity>
        <activity android:name=".BrokersScreen"></activity>
        <activity android:name=".BuyAssetScreen"></activity>
        <activity android:name=".ChatbotScreen"></activity>
        <activity android:name=".ContactBrokerScreen"></activity>
        <activity android:name=".MainScreen"></activity>
        <activity android:name=".PaymentTypeScreen"></activity>
        <activity android:name=".PortfolioScreen"></activity>
        <activity android:name=".RegisterScreen"></activity>
        <activity android:name=".ReviewScreen"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>